{% extends 'base_layout.html' %}
{% block title %}Feed Details{% endblock %}

{% block body %}
<h1>Feed Details</h1>

{% if feed %}
<ul>
	{% for key,value in feed.items() %}
	<li>
		{{ key}}: {{ value}}
	</li>
	{% endfor %}
</ul>
{% endif %}
 <br>
        
        <a href="{{ url_for('feeds', uid=feed.id, task="edit") }}" class="btn btn-primary btn-lg" role="button">Edit Feed</a>
        or <a href="{{ url_for('feeds') }}">Return to Listing</a>
{% endblock %}

 {% block menu %}
        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>

       
    
{% endblock %}
